{% extends 'base/base.html' %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'articulo:index' %}">Blog del saber.</a></li>
    </ol>
{% endblock %}

{% block contenido %}


		<!-- LOGIN FORM -->
		<!--===================================================-->
		<div class="cls-content">
		    <div class="cls-content-sm panel">
		        <div class="panel-body">
		            <div class="mar-ver pad-btm">
		                <h3 class="h4 mar-no">Iniciar Sesíon</h3>
		            </div>
		            <form  method="post" >
                        {% csrf_token %}
		                <div class="form-group">
		                    <input type="text" name="username" class="form-control" placeholder="Nombre de Usuario" autofocus>
		                </div>
		                <div class="form-group">
		                    <input type="password" name="password" class="form-control" placeholder="Contraseña">
		                </div>
		                <button class="btn btn-primary btn-lg btn-block" type="submit">Iniciar Sesíon</button>
		            </form>
		        </div>

		        <div class="pad-all">
		            <a href="{% url 'usuario:registrar' %}" class="btn-link mar-lft">Crear cuenta nueva</a>
		        </div>
		    </div>
		</div>
		<!--===================================================-->

{% endblock%}
