{% extends 'base/base.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'articulo:index'%}">Home</a></li>
    </ol>
{% endblock %}
{% block contenido%}

<div class="panel" id="demo-panel-w-alert">

    <div class="panel-heading">
        <h3 class="panel-title bg-gray-light"> Registre su artículo.
        </h3>
    </div>

    <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

    <div class="panel-body">
        <ul class="list group">

            <li class="list-group-item">
                <p class="text-semibold text-main"> TITULO: </p> {{ form.titulo }}
            </li>
            <li class="list-group-item"><h4><p class="text-semibold text-main ">Contenido.</p></h4>
                    {{ form.contenido }} </li>

            <li class="list-group-item"> <h4><p class="text-semibold text-main">Imagen.</p></h4>
                {{ form.imagen }} </li>

            <li class="list-group-item"> <p>
                <h4><p class="text-semibold text-main">Fecha Vencimiento</p></h4> {{ form.fecha_vencimiento }}
            </p></li>

            <li class="list-group-item">
                <p class="text-light"> CATEGORIA:</p>
                {{ form.tag }}
            </li>
        </ul>
     </div>
        <div class="panel-footer bg-gray-ligth">
            <div class="row">
                <div class="col-md-offset-9">
                    <button class="btn btn-primary" type="submit"  >
                    <i class="demo-pli-paper-plane icon-2x"></i> Crear</button>
                </div>
            </div>

        </div>

    </form>
</div>
    <!--===================================================-->
    <!--End Panel with Footer-->

{% endblock%}