{# Load the tag library #}
{% load bootstrap3 %}

<div class="modal fade" id="demo-default-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" id="formEditar" action="{% url 'articulo:editar' id %}" enctype="multipart/form-data" >
                    {% csrf_token %}
                    {{ form2.media }}
                    <!--Modal header-->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <i class="pci-cross pci-circle"></i>
                        </button>
                        <h4 class="modal-title">
                            <p class="text-semibold text-main "> </p> {%  bootstrap_field form2.titulo %}
                        </h4>
                    </div>

                    <!--Modal body-->
                    <div class="modal-body">
                        <p class="text-semibold text-main ">{%  bootstrap_field form2.contenido %}</p>

                        <br>
                        <p class="text-semibold text-main">{%  bootstrap_field form2.imagen %}</p>

                        <p>
                            <p class="text-semibold text-main">Fecha Publicacion</p> {% bootstrap_label form2.fecha_publicacion %}
                            <p class="text-semibold text-main"> {%  bootstrap_field form2.fecha_vencimiento %} </p>
                        </p>

                        <p class="text-semibold text-main"> Categoria</p>
                            {{form2.tag}}
                    </div>
             <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                <button class="btn btn-primary" type="submit">Editar</button>
            </div>

            </form>

            </div>
        </div>
</div>