{% extends 'base/base.html' %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'articulo:index' %}">Blog del saber</a></li>
        <li><a href="#">Articulos</a></li>
        <li><a href="{% url 'articulo:mostrar' object.id %}">Articulo</a></li>
    </ol>
{% endblock%}

{% block contenido%}
{% include 'articulo/modal.html' with form=form  id=object.id %}
<div class="col-sm-12 eq-box-sm">

    <!--Panel with Footer-->
    <!--===================================================-->
    <div class="panel" id="demo-panel-w-alert">
        <div class="panel-heading">
            <h3 class="panel-title bg-gray-light">{% bootstrap_label articulo.titulo %}
            </h3>
        </div>

        <div class="panel-body">
            <ul class="list group">
                <li class="list-group-item">
                    <h4>
                        <p class="text-semibold text-main ">Contenido.</p>
                    </h4>
                    {% bootstrap_label articulo.contenido %}
                </li>

                <li class="list-group-item">
                    <h4>
                        <p class="text-semibold text-main">Imagen.</p>
                    </h4>
                        {% if articulo.imagen %}
                            <img src="{{ articulo.imagen.url }}">
                        {% endif %}
                </li>

                <li class="list-group-item">
                    <p>
                        <h4>
                            <p class="text-semibold text-main">Fecha Publicacion</p>
                        </h4>
                            {% bootstrap_label articulo.fecha_publicacion %}

                        <h4>
                            <p class="text-semibold text-main">Fecha Vencimiento</p>
                        </h4>
                            {% bootstrap_label articulo.fecha_vencimiento %}
                    </p>
                </li>
            </ul>

        </div>
        <div class="panel-footer bg-gray-ligth">
            <div class="row">
                <div class="col-md-offset-9">
                    {% if user.is_authenticated %}
                        <button id="demo-panel-alert" class="btn btn-warning" onclick="desactivar()" data-ajax-target="{% url 'articulo:mostrar' articulo.id %}">Desactivar</button>
                        <button id="abrirModal" onclick="abrirModal()" data-target="#demo-default-modal" class="btn btn-primary" >
                        Modificar</button>
                    {% endif %}
                </div>
            </div>

        </div>
        <input type="hidden" id="id_articulo" value="{{articulo.id}}">
        <input type="hidden" id="activado" value="1">
    </div>
    <!--===================================================-->
    <!--End Panel with Footer-->
</div>

<div class="col-sm-12 eq-box-sm">
        <!--Expanded Panel by default-->
    <!--===================================================-->
    <div class="panel ">
        <!--Panel heading-->
        <div class="panel-heading">
            <div class="panel-control">
                <button class="demo-panel-ref-btn btn btn-default" data-toggle="panel-overlay" data-target="#demo-panel-collapse"><i class="demo-pli-repeat-2"></i></button>
                <button class="btn btn-default" data-target="#demo-panel-collapse" data-toggle="collapse"><i class="demo-pli-arrow-down"></i></button>
            </div>
            <h3 class="panel-title">Comentarios</h3>
        </div>
        <!--Panel body-->
        {% if user.is_authenticated %}
            <div id="demo-panel-collapse" class="collapse in">
                <div class="panel-body">
                     <ul class="list group">
                         <li class="list-group-item"> Escribe tu comentario Aquí.
                             <form method="POST" action="{% url 'articulo:crear-comentario' object.id %}">
                                 {% csrf_token %}
                                 {{ form_comentario.comentario}}
                                 <button type="submit" class="btn-primary"> Comentar</button>
                             </form>
                         </li>
                         <li class="list-group-item">
                             <ul class="list group">
                                 {% if comentarios%}
                                    {% for comentario in comentarios %}
                                       <p>{{ comentario.user }}</p>
                                         <li class="list-group-item"> {{comentario.comentario}}</li>
                                        <br>
                                    {% endfor%}
                                 {% else %}
                                    <h3> No existen comentario para este post.</h3>
                                 {% endif%}
                             </ul>
                         </li>
                     </ul>
                </div>
            </div>
        {% else %}
            <a>
                <h3> Iniciar Sesíon, para comentar en este Post. </h3>
            </a>
        {% endif %}
    </div>
    <!--===================================================-->
    <!--End Expanded Panel by default-->
</div>

{% endblock%}

